{% extends "layout.html" %}

{% block title %}
    Delete Account
{% endblock %}

{% block main %}
    <div id = "panel">
        <div class = "wrapper">
            <h1 class="welcome">Delete Account</h1>
            <div class="login-container">
                <form action="/delete" method="post">
                    <input name="password" type="password" placeholder="Password">
                    <button class="login-btn">Confirm Delete</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}